@import "../../Varriables.scss";


.cHeader{
    width : 100%;
    padding: 35px 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 0px 3px 1px lightgrey;
    font-family: $fontFamily;
    button{
        color: inherit;
        background-color: inherit;
        width: 110px;
        border: none;
        cursor: pointer;
        i{
            margin-right: 5px;
        }
        &:focus{
            outline: none;
        }
    }
}

@media screen and (min-width: 768px){
    .cHeader{
        padding: 30px 80px;
    }
}
